#main_container {
  margin: 0 10vw 100px;
}

#main_container #number,
#main_container #creator {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

#main_container h3 {
  font-size: 30px;
  margin-top: 40px;
}

#main_container .input_area {
  width: 40vw;
  height: 80px;
  position: relative;
  font-size: 16px;
}

#main_container .input_area .label {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 1px;
  padding: 5px;
  color: #555;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 18px;
  font-weight: bold;
}

#main_container .input_area .input {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  border: 1px solid #111;
  border-radius: 4px;
  padding: 5px;
  background: transparent;
  color: #555;
  font-size: 18px;
}

#main_container .input_area .input:disabled {
  background-color: #eee;
}

#main_container .input_area .input:invalid {
  border: 2px solid #ee0979;
}

#main_container .input_area .input:focus ~ .label,
#main_container .input_area .input:valid ~ .label,
#main_container .input_area .input:disabled ~ .label {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(-5px) translateY(-30px);
          transform: translateX(-5px) translateY(-30px);
}
