#main_container {
  margin: 0 10vw 100px;
}
#main_container #number,
#main_container #creator {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
#main_container h3 {
  font-size: 30px;
  margin-top: 40px;
}
#main_container .choose_person {
  width: 100vw;
  height: 60vh;
  position: relative;
  bottom: 570px;
  left: 30%;
  font-size: 16px;
}
#main_container .choose_person .styled-table {
  position: relative;
  top: 4%;
  left: 6%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 0px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#main_container .choose_person .styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
#main_container .choose_person .styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
#main_container .choose_person .styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
#main_container .choose_person .styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
#main_container .choose_person .styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
#main_container .choose_person .styled-table th,
#main_container .choose_person .styled-table td {
  padding: 12px 15px;
}
#main_container .discuss_area {
  width: 100vw;
  height: 280px;
  position: relative;
  margin-top: 50px;
  font-size: 16px;
}
#main_container .discuss_area .label1 {
  position: relative;
  display: inline-block;
  bottom: 250%;
  left: 32%;
  padding: 5px;
  color: #555;
  transition: 0.5s;
  font-size: 18px;
  font-weight: bold;
}
#main_container .discuss_area .label2 {
  position: relative;
  display: inline-block;
  bottom: 250%;
  left: 32%;
  padding: 5px;
  color: #555;
  transition: 0.5s;
  font-size: 18px;
  font-weight: bold;
}
#main_container .discuss_area .label3 {
  position: relative;
  display: inline-block;
  bottom: 250%;
  left: 32%;
  padding: 5px;
  color: #555;
  transition: 0.5s;
  font-size: 18px;
  font-weight: bold;
}
#main_container .discuss_area .label4 {
  position: relative;
  display: inline-block;
  bottom: 250%;
  left: 32%;
  padding: 5px;
  color: #555;
  transition: 0.5s;
  font-size: 18px;
  font-weight: bold;
}
#main_container .discuss_area .input1 {
  position: relative;
  display: flex;
  bottom: 250%;
  left: 32%;
  z-index: 1;
  width: 47%;
  border: 1px solid #111;
  border-radius: 4px;
  padding: 5px;
  background: transparent;
  color: #555;
  font-size: 18px;
}
#main_container .discuss_area .input1:disabled {
  background-color: #eee;
}
#main_container .discuss_area .input1:invalid {
  border: 2px solid #ee0979;
}
#main_container .discuss_area .input1:focus ~ .label1, #main_container .discuss_area .input1:valid ~ .label1, #main_container .discuss_area .input1:disabled ~ .label1 {
  transition: 0.5s;
  transform: translateX(-5px) translateY(-30px);
}
#main_container .discuss_area .input2 {
  position: relative;
  display: flex;
  bottom: 250%;
  left: 32%;
  z-index: 1;
  width: 47%;
  border: 1px solid #111;
  border-radius: 4px;
  padding: 5px;
  background: transparent;
  color: #555;
  font-size: 18px;
}
#main_container .discuss_area .input2:disabled {
  background-color: #eee;
}
#main_container .discuss_area .input2:invalid {
  border: 2px solid #ee0979;
}
#main_container .discuss_area .input2:focus ~ .label2, #main_container .discuss_area .input2:valid ~ .label2, #main_container .discuss_area .input2:disabled ~ .label2 {
  transition: 0.5s;
  transform: translateX(-5px) translateY(-30px);
}
#main_container .discuss_area .input3 {
  position: relative;
  display: flex;
  bottom: 250%;
  left: 32%;
  z-index: 1;
  width: 47%;
  border: 1px solid #111;
  border-radius: 4px;
  padding: 5px;
  background: transparent;
  color: #555;
  font-size: 18px;
}
#main_container .discuss_area .input3:disabled {
  background-color: #eee;
}
#main_container .discuss_area .input3:invalid {
  border: 2px solid #ee0979;
}
#main_container .discuss_area .input3:focus ~ .label3, #main_container .discuss_area .input3:valid ~ .label3, #main_container .discuss_area .input3:disabled ~ .label3 {
  transition: 0.5s;
  transform: translateX(-5px) translateY(-30px);
}
#main_container .discuss_area .input4 {
  position: relative;
  display: flex;
  bottom: 250%;
  left: 32%;
  z-index: 1;
  width: 47%;
  border: 1px solid #111;
  border-radius: 4px;
  padding: 5px;
  background: transparent;
  color: #555;
  font-size: 18px;
}
#main_container .discuss_area .input4:disabled {
  background-color: #eee;
}
#main_container .discuss_area .input4:invalid {
  border: 2px solid #ee0979;
}
#main_container .discuss_area .input4:focus ~ .label4, #main_container .discuss_area .input4:valid ~ .label4, #main_container .discuss_area .input4:disabled ~ .label4 {
  transition: 0.5s;
  transform: translateX(-5px) translateY(-30px);
}
#main_container .discuss_area .delete_btn {
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 272.5%;
  left: 24%;
  border-radius: 100px;
  border: 1px solid #eee;
  background-color: #eee;
  color: #555;
}
#main_container .input_area {
  width: 100vw;
  height: 70px;
  position: relative;
  font-size: 16px;
}
#main_container .input_area .btn {
  position: absolute;
  bottom: -20%;
  left: 0;
  background-color: #eee;
  color: #555;
}
#main_container .input_area .submit {
  position: absolute;
  bottom: 30%;
  left: 0;
}
#main_container .input_area .delete_btn {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 21%;
  border-radius: 100px;
  border: 1px solid #eee;
  background-color: #eee;
  color: #555;
}
#main_container .input_area .label {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 1px;
  padding: 5px;
  color: #555;
  transition: 0.5s;
  font-size: 18px;
  font-weight: bold;
}
#main_container .input_area .label_datetime {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 1px;
  padding: 5px;
  color: #555;
  transition: 0.5s;
  font-size: 18px;
  font-weight: bold;
}
#main_container .input_area .textarea_label {
  position: absolute;
  display: inline-block;
  bottom: -20%;
  left: 30%;
  padding: 5px;
  color: #555;
  transition: 0.5s;
  font-size: 18px;
  font-weight: bold;
}
#main_container .input_area .select {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 5px;
  font-size: 18px;
  color: #555;
  width: 25%;
  border: 1px solid #111;
  border-radius: 4px;
  background: transparent;
  font-weight: bold;
}
#main_container .input_area .select:disabled {
  margin-top: 40px;
}
#main_container .input_area .select:invalid {
  border: 2px solid #ee0979;
}
#main_container .input_area .multiple_select {
  position: absolute;
  bottom: -100%;
  left: 0;
  z-index: 1;
  padding: 5px;
  font-size: 18px;
  color: #555;
  width: 25%;
  border: 1px solid #111;
  border-radius: 4px;
  background: transparent;
  font-weight: bold;
}
#main_container .input_area .multiple_select:disabled {
  margin-top: 40px;
}
#main_container .input_area .multiple_select:invalid {
  border: 2px solid #ee0979;
}
#main_container .input_area .texts_label {
  position: absolute;
  display: inline-block;
  bottom: 5%;
  left: 1px;
  padding: 5px;
  color: #555;
  transition: 0.5s;
  font-size: 18px;
  font-weight: bold;
}
#main_container .input_area .texts {
  position: absolute;
  bottom: -30%;
  left: 0;
  z-index: 1;
  width: 25%;
  border: 1px solid #111;
  border-radius: 4px;
  padding: 5px;
  background: transparent;
  color: #555;
  font-size: 18px;
}
#main_container .input_area .texts:disabled {
  background-color: #eee;
}
#main_container .input_area .texts:invalid {
  border: 2px solid #ee0979;
}
#main_container .input_area .texts:focus ~ .label, #main_container .input_area .texts:valid ~ .label, #main_container .input_area .texts:disabled ~ .label {
  transition: 0.5s;
  transform: translateX(-5px) translateY(-30px);
}
#main_container .input_area .texts:focus ~ .texts_label, #main_container .input_area .texts:valid ~ .texts_label, #main_container .input_area .texts:disabled ~ .texts_label {
  transition: 0.5s;
  transform: translateX(-5px) translateY(-30px);
}
#main_container .input_area .textarea {
  position: relative;
  display: flex;
  margin-top: 5px;
  bottom: -70%;
  left: 30%;
  z-index: 1;
  padding: 5px;
  font-size: 18px;
  color: #555;
  font-weight: bold;
  width: 47.5%;
  height: 150%;
  border: 1px solid #111;
  border-radius: 4px;
  background: transparent;
}
#main_container .input_area .textarea:disabled {
  background-color: #eee;
}
#main_container .input_area .textarea:invalid {
  border: 2px solid #ee0979;
}
#main_container .input_area .textarea:focus ~ .textarea_label, #main_container .input_area .textarea:valid ~ .textarea_label, #main_container .input_area .textarea:disabled ~ .textarea_label {
  transition: 0.5s;
  transform: translateX(-5px) translateY(-40px);
}
#main_container .input_area .input {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 25%;
  border: 1px solid #111;
  border-radius: 4px;
  padding: 5px;
  background: transparent;
  color: #555;
  font-size: 18px;
}
#main_container .input_area .input:disabled {
  background-color: #eee;
}
#main_container .input_area .input:invalid {
  border: 2px solid #ee0979;
}
#main_container .input_area .input:focus ~ .label, #main_container .input_area .input:valid ~ .label, #main_container .input_area .input:disabled ~ .label {
  transition: 0.5s;
  transform: translateX(-5px) translateY(-30px);
}