#content {
  width: 70vw;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content img {
  width: 20%;
  min-width: 200px;
  min-height: 200px;
}

#content .data_area {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .data_area .material-icons {
  margin-right: 15px;
}

#content .data_area span {
  font-size: 22px;
}

#content .data_area #divide {
  color: #c8c8c8;
}

#content #person_title {
  margin: 30px;
}

#content #person_title span {
  font-size: 30px;
  font-weight: bold;
}

#content2 {
  width: 70vw;
  height: calc(100vh - 60px);
  padding-top: 50px;
  position: fixed;
  top: 60px;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#actions {
  margin-top: 20px;
}
